.container {
    flex: 1;
    background-color: white;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 10px;
    margin: 0px 10px;
    margin-bottom: 30px;
    box-shadow: 0px 5px 4px -2px rgba(0, 0, 0, 0.2);
}

.mainContainer{
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    overflow: hidden;
}

.chatRoot {
    flex: 1;
    display: flex;
    height: 100%;
}

.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.chatEmptyState {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 1024px;
    padding-top: 60px;
}

.chatEmptyStateTitle {
    font-size: 4rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 30px;
}

.chatEmptyStateSubtitle {
    font-weight: 600;
    margin-bottom: 10px;
}

.chatIcon {
    height: auto;
    width: auto;
}

@media only screen and (max-height: 780px) {
    .chatEmptyState {
        padding-top: 0;
    }

    .chatEmptyStateTitle {
        font-size: 3rem;
        margin-bottom: 0px;
    }
}

.noneDisplay{
    display: none;
}

.flexDescription{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conversationIsLoading{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 1024px;
    padding-top: 60px;
}

.chatMessageStream {
    flex-grow: 1;
    max-height: 1024px;
    max-width: 1028px;
    width: 100%;
    overflow-y: auto;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.chatMessageGpt {
    margin-bottom: 20px;
    max-width: 80%;
    display: flex;
    min-width: 500px;
}

.chatMessageGptMinWidth {
    max-width: 500px;
    margin-bottom: 20px;
}

.chatInput {
    position: sticky;
    bottom: 0;
    flex: 0 0 100px;
    padding-top: 12px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    max-width: 1028px;
    background: #ffffff;
    display: flex;
    align-items: center;
}

.newChatButton{
    color: #ffffff;
    font-size: 24px;
    border: none;
    padding: 8px 7px 1px;
    border-radius: 5px;
    cursor: pointer;
    background: radial-gradient(109.81% 107.82% at 100.1% 90.19%, #0F6CBD 33.63%, #2D87C3 70.31%, #8DDDD8 100%);
    transition: .3s;
}

.newChatButton:hover {
    color: #8DDDD8;
}

.newChatButtonDisabled{
    color: #a3a3a3;
    font-size: 24px;
    border: none;
    padding: 8px 7px 1px;
    border-radius: 5px;
    transition: .3s;
}

.clearChatButtonDisabled{
    color: #a3a3a3;
    font-size: 24px;
    border: none;
    padding: 8px 7px 1px;
    border-radius: 5px;
    transition: .3s;
    margin-bottom: 5px;
}

.buttonsActions{
    margin-right: -10px;
}

.clearChatButton {
    color: #ffffff;
    font-size: 24px;
    border: none;
    padding: 8px 7px 1px;
    border-radius: 5px;
    cursor: pointer;
    background: radial-gradient(109.81% 107.82% at 100.1% 90.19%, #0F6CBD 33.63%, #2D87C3 70.31%, #8DDDD8 100%);
    transition: .3s;
    margin-bottom: 5px;
}

.clearChatButton:hover {
    color: #8DDDD8;
}
.chatAnalysisPanel {
    flex: 1;
    overflow-y: auto;
    max-height: 89vh;
    margin-left: 20px;
    margin-right: 20px;
}

.chatSettingsSeparator {
    margin-top: 15px;
}

.loadingLogo {
    font-size: 28px;
}

.commandsContainer {
    display: flex;
    align-self: flex-start;
    height: 95%;
    overflow-y: auto;
}

.loadingData {
    display: flex;
    align-self: flex-start;
    height: 95%;
    overflow-y: hidden;
}

.spinnerStyles{
    position: absolute;
}

.commandsContainer::-webkit-scrollbar {
    width: 8px;
}

.commandsContainer::-webkit-scrollbar-track {
    background: transparent;
}

.commandsContainer::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.commandsContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.commandButton {
    margin-right: 20px;
    margin-bottom: 20px;
}
